@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {

  .body {
    font-family: "UD デジタル 教科書体 NK-R", "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ,
      Meiryo, Verdana, Helvetica, Arial, sans-serif;
    font-weight: 700;
    /* display: flex;
    flex: 1 1 0%;
    justify-content: flex-start;
    justify-items: center;
    flex-direction: column;
    text-align: center;
    min-height: calc(100vh - 8rem);
    user-select: none; */
  }
}
