.mainTitle {
  font-size: max(3vw, 36px);
  text-align: center;
}

.main {
  padding-top: 64px;
  height: calc(100vh - 64px);
  border-top: 1px solid;
}

.select-s {
  @apply text-base mx-1 md:text-xl text-black rounded-md text-center border border-blue-500 cursor-pointer;
}
