.table {
  border-collapse: separate;
  border-spacing: 0;
}

.table td {
  border: solid 1px;
  height: 29vw;
  display: inline-flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 5px;
  vertical-align: top;
  box-sizing: border-box;
}

.table td img {
  cursor: pointer;
  flex-shrink: 0;
  align-self: flex-start;
  margin: 1px;
}

.setPlace {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 12vw;
}

.setPlace img {
  cursor: pointer;
}